{{- $allInstanceTypes := dict }}
{{- if .Values.workloads.instanceTypes.enableDefaults }}
  {{- $allInstanceTypes = merge $allInstanceTypes (default dict .Values.workloads.instanceTypes.defaults) }}
{{- end }}
{{- $allInstanceTypes = merge $allInstanceTypes (default dict .Values.workloads.instanceTypes.additional) }}

{{- /* Only render the ConfigMap if there are instance types defined. This allows users to disable default instance types without additional configuration. */ -}}
{{- if $allInstanceTypes }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{.Values.workloads.instanceTypes.configMap.name | default "instance-types"}}
  namespace: {{ .Release.Namespace }}
  labels:
    anyscale.com/name: instance-types
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
data:
  version: v1
  instance_types.yaml: |-
{{ toYaml $allInstanceTypes | indent 4 }}
{{- end }}
