apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.operator.serviceAccount.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
  {{- if .Values.global.auth.iamIdentity}}
  {{- if eq .Values.global.cloudProvider "aws" }}
  annotations:
    eks.amazonaws.com/role-arn: {{ .Values.global.auth.iamIdentity }}
  {{- else if eq .Values.global.cloudProvider "gcp" }}
  annotations:
    iam.gke.io/gcp-service-account: {{ .Values.global.auth.iamIdentity }}
  {{- else if eq .Values.global.cloudProvider "azure" }}
  annotations:
    azure.workload.identity/client-id: {{ .Values.global.auth.iamIdentity }}
  {{- end }}
  {{- end }}
